html {
    background-color: lightcoral;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    
   
    
}


.topnav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    font-size: 32px;
    font-weight: 900;
}


/* Media Query for topnav */

/* Screens smaller than 600px / links become block and font-size 20px */

@media(max-width:600px){
    
    .topnav a {
        display: block;
        font-size: 12px;
    }
    body {
        display: block;
        font-size: 8px;
    }
    footer a {
         display: block;
        font-size: 12px;
    }
    
}

.imagestream {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}

.imagestream img {
     max-width: 50%;
     height: auto;   
             
    }

.statement {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
        
 }

p{
    
    width: 800px;
    text-align: justify; 
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.5;
    
    
}

a{
    
    color:red;
    text-decoration: none;
    transition: color 1.25s;

}

a:hover{
    
    color: aqua;
} 


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 900;
}


